/* styles.css */
/* Estilos generales */




@media (max-width: 980px) {
    .home {
        margin: 7% 0 7% 0;
    }
    .home_container {
        margin-bottom: 7%;
    }
    .home_texto1_linea2 {
        margin-bottom: 7%;
    }
    .home_texto2_linea2 {
        margin-bottom: 7%;
    }
    .home_texto3_linea2 {
        margin-bottom: 7%;
    }
    .edificio {
        height: 150px;
    }
    ..home_container4 {
        grid-template-columns: 1fr;
        height: 150px;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    .foot {
        padding: 20px 5% 20px 5%;
    }
    .home_container5 {
        grid-template-columns: 1fr;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}

@media (max-width: 850px) {
    .home_texto1_linea3 {
        margin-bottom: 20px;
        line-height: 22px;
    }
    .home_texto2_linea3 {
        margin-bottom: 20px;
        line-height: 22px;
    }
    .home_container3 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 835px) {
    .foot {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }
}

@media (max-width: 700px) {
    .home_container3_gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .edificio {
        height: 154px;
    }
}

@media (max-width: 600px) {
    .home {
        margin: 10% 0 7% 0;
    }
    .home_container1 {
        grid-column: 1/3;
        height: 300px;
        grid-row: 2/3;
        margin-top: 7%;
        margin-right: 0;
    }
    .home_texto1 {
        margin:0 5%;
        grid-column: 1/3;
    }
    .home_texto1_linea3 {
        margin-bottom: 7%;
    }
    .home_texto1_boton {
        display: grid;
        grid-column: 1/3;
        margin: 25px 5% 20px 5%;
    }
    .previo {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .siguiente {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .home_texto2 {
        margin: 0 5%;
        grid-column: 1/3;
    }
    .home_texto2_linea3 {
        margin-bottom: 7%;
    }
    .home_container2 {
        grid-column: 1/3;
        height: 300px;
        grid-row: 2/3;
        margin-top: 7%;
        margin-right: 0;
    }
    .home_texto3_linea2 {
        margin-bottom: 10%;
    }
}

@media (max-width: 525px) {
    .properties {
        justify-self: flex-start;
    }
}

@media (max-width: 500px) {
    .home_texto1_boton {
        row-gap: 30px;
    }
    .home_container3_gallery {
        margin: 3% 0 0 0;
        grid-template-columns: 1fr;
    }
    .edificio {
        height: 300px;
    }
    .content_text3 {
        padding: 20px 0 20px 30px;
    }
}

@media (max-width: 480px) {
    .home_container1 {
        margin-top: 10%;
        height: 288px;
    }
    .home_container1_gallery {
        margin-top:10%;
        height: 288px;
    }
    .home_texto1_linea3 {
        margin-bottom: 10%;
    }
    .home_texto2_linea3 {
        margin-bottom: 10%;
    }
    .home_container2 {
        margin-top: 10%;
        height: 288px;
    }
}

@media (max-width: 430px) {
    .home_container1_gallery {
        margin-left: -230px;
    }
    .casa1 {
        width: 220px;
    }
    .home_texto1_boton {
        row-gap: 20px;
    }
    .home_container2_gallery {
        margin-left: -230px;
    }
    .casa2 {
        width: 220px;
    }
}

@media (max-width: 400px) {
    .home_container1 {
        height: 260px;
    }
    .home_container1_gallery {
        margin-left: -210px;
    }
    .casa1 {
        width: 200px;
    }
    .home_container2 {
        height: 260px;
    }
    .home_container2_gallery {
        margin-left: -210px;
    }
    .casa2 {
        width: 200px;
    }
}

@media (max-width: 330px) {
    .home_container1 {
        height: 248px;
    }
    .home_container1_gallery {
        margin-left: -190px;
    }
    .casa1 {
        width: 180px;
    }
    .home_texto1_boton {
        row-gap: 10px;
    }
    .home_container2 {
        height: 248px;
    }
    .home_container2_gallery {
        margin-left: -190px;
    }
    casa2 {
        width: 180px;
    }
}

@media (max-width: 320px) {
    
}

