@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --font-family-lato: 'Lato';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-image: url(./img2/fondo_imagen1.png);
    background-position: center;
    background-size: cover;
    margin: 0;
    width: 1080px;
    height: 1920px;
    background-repeat: no-repeat;

}

.head_menu {
    background-color: rgb( 0 0 0 / 70%);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto auto;
    padding: 2%;
    align-items: center;
    height: auto;
    z-index: 1;
}
.head_logo {
    height: 23.89px;
    width: 266px;
    top: 52.33;
    left: 122px;
    padding-left: 60px;
}
.head_boton {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.head_boton_1 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color:grey;
    padding-right: 15px;
}
.head_boton_2 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    border-left: 1.5px solid white;
    line-height: 15px;
}
.head_idioma {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 35px;
    align-items: center;
}
.head_idioma_1 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    padding-left: 15px;
}
.head_idioma_2 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-right: 15px;
    border-right: 1.5px solid white;
    line-height: 30px;
}
.head_menu {
    align-items: center;
    padding: 10px;    
    background-color:none;
}
.linea {
    display: block;
    background-color: black;
    height: 4px;
    width: 25px;
    margin-bottom: 2px;
}

.head_nav {
    background-color: rgb( 0 0 0 / 60%);
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.head_nav_busca {
    display: grid;
    padding-top: 5%;
    grid-template-columns: 1fr auto;
}
.head_nav_boton1 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
    grid-column: 2/3;
    background-color: transparent;
}
.boton_lupa {
    border: 1px solid white;
    padding-right: 20px;
    grid-column: 3;
    font-size: 40px;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
}
.lupa {
    width: 30px;
    height: 30px;
}
.nav_fondo_texto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    align-items:flex-end;
}
.nav_texto1 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}
.nav_texto2 {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 70px;
    font-weight: 600;
    color: white;
    margin-bottom: 2%;
}
.nav_fondo_propiedades {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-size: 300px;
    border-radius: 20px 0 0 20px;
    position: relative;
    bottom: 220px;
}
.boton_propiedades {
    background-color:transparent;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 20px;
}
.flecha {
    width: 30px;
    height: 15px;
    border: none;
}
.boton_texto {
    font-family: var(--font-family-lato);
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
}
.head_nav_vertical {
    position: absolute;
    z-index: 970;
    top: 1450px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    align-items: end;
}
.p {
    transform: rotate(90deg);
    width: 100%;
    height: auto;
    color: grey;
    font-size: 25px;
    justify-content: center;
    margin-left: -20px;
}
.vertical {
    height: 10px;
    margin-top: 20px;
    margin-left: -30px;
    transform: rotate(90deg);
}
.social {
    height: 18px;
    width: 18px;
    transform: rotate(270deg);
    margin-left: 2px;
}


.home {
    margin: 5% 0;
}
.home_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5%;
}
.home_container1_gallery1 {
    display: flex;
    height: 100%;
    align-items: end;
    overflow: hidden;

    transform: scaleX(1);
    -webkit-transition: all 0.5s ease;
    scroll-behavior: smooth;

    margin-left: -260px;
}
.casa {
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: initial;
    align-items: end;
    height: 100%;
}
#casa3 {
    background-image: url(./img2/casa3.png);
    text-decoration: none;
}
div {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: rgba( 0, 0, 0, 30%);
    align-items: end;
    width: 100%;
    height: 100%; 
}
.content_casa {
    display: block;
    color: white;
    padding: 0 5% 0 5%;
}
.superior {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease;

    padding-top: 3%;
}
.inferior {
    font-family: var(--font-family-lato);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease;

    padding-bottom: 3%;
}
